name: Training Pipeline

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"   # Daily at 2 AM UTC

jobs:
  run-training-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Training Pipeline
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python -m training.train_models

      - name: Run Inference Pipeline
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: |
          python -m inference.predict_next_3_days
